* {
  box-sizing: border-box;
}
body,
html {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
}

.list-background {
  position: fixed;
  margin: 0;
  left: -280px;
  background-color: rgba(74, 74, 74, 0.783);
  height: 100%;
  width: 300px;
  transition-property: all;
  transition-duration: 750ms;
  display: flex;
  justify-content: end;
}

.list {
  height: 100%;
  width: 100%;
  padding: 40px 15px 0 30px;
  list-style-type: none;
}

.list-background:hover {
  left: 0;
}

.list-background:hover .menu-here {
  opacity: 0;
  visibility: hidden;
}

.list li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}

.container {
  position: relative;
  right: 0;
  height: 100%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

span,
p {
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  transition-duration: 400ms;
  transition-property: color;
}

span:hover {
  color: orange;
  cursor: pointer;
}

.list div {
  position: absolute;
  bottom: 25%;
  left: 0;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: orange;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.menu-here {
  transform: rotate(90deg);
  white-space: nowrap;
  height: 20px;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  transition-property: all;
  transition-duration: 500ms;
}
